[Desktop Entry]
Name=Consolinno HEMS
Comment=A client application for the Consolinno HEMS system
Icon=zewhotherm-energy
Terminal=false
Type=Application
Exec=zewhotherm-energy
Categories=Network;
