[Desktop Entry]
Name=Consolinno HEMS
Comment=A client application for the Consolinno HEMS system
Icon=consolinno-energy
Terminal=true
Type=Application
Exec=consolinno-energy %u
Categories=Network;
MimeType=x-scheme-handler/consolinno-energy;
